{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#e8eae6] flex items-center justify-center min-h-screen">

<div class="bg-white p-8 rounded-xl shadow-lg w-full max-w-md">

    <h2 class="text-2xl font-bold text-center mb-4">Forgot Password</h2>
    <p class="text-gray-500 text-center mb-6">
        Enter your email to receive reset link
    </p>

    <form method="POST">
        {% csrf_token %}

        <input type="email" name="email" required
            placeholder="Enter your email"
            class="w-full px-4 py-3 border rounded-lg mb-4">

        <button type="submit"
            class="w-full bg-primary text-white py-3 rounded-lg">
            Send Reset Link
        </button>
    </form>

</div>

</body>
</html>